<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
    <form method="post">
        <div class="container-sm" >
            <h1>Register</h1>
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="btn btn-primary">Register</button>
            {% comment %} <a href="{% url 'registration:login' %}"> У вас есть аккаунт? Войдите!</a> {% endcomment %}
        </div>
    </form>
</body>
</html>